<!-- app/templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Yahoo Fantasy Football MVP{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <div class="navbar">
            <a href="{{ url_for('main.home') }}">Home</a>
            <a href="{{ url_for('main.waiver_wire') }}">Waiver Wire</a>
            <a href="{{ url_for('main.team_analyzer') }}">Team Analyzer</a>
            <a href="{{ url_for('main.trade_builder') }}">Trade Builder</a>
            <div class="user-icon">
                <a href="https://login.yahoo.com/config/login?logout=1&.direct=1">Logout
                    <!-- <img src="{{ url_for('static', filename='user-icon.png') }}" alt="User Icon"> -->
                </a>
            </div>
        </div>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Yahoo Fantasy Football MVP</p>
    </footer>
</body>
</html>