{% extends "base.html" %}

{% block title %}Team Analyzer - Yahoo Fantasy Football MVP{% endblock %}

{% block content %}
<div class="container">
    <h1>Team Analyzer</h1>
    <div class="table-responsive">
        <table>
            <thead>
                <tr>
                    <th>Player</th>
                    <th>Position</th>
                    <th>Rank</th>
                    <th>Week 1 Points</th>
                    <th>Week 2 Points</th>
                    <th>Week 3 Points</th>
                    <th>Week 4 Points</th>
                    <th>Week 5 Points</th>
                    <th>Week 6 Points</th>
                    <th>Total Points</th>
                    <th>Standard Deviation</th>
                    <th>Grade</th>
                </tr>
            </thead>
            <tbody>
                {% for player in players %}
                    <tr>
                        <td>{{ player.Player }}</td>
                        <td>{{ player.Pos }}</td>
                        <td>{{ player.Rankbypos }}</td>
                        <td>{{ player.WK1Pts }}</td>
                        <td>{{ player.WK2Pts }}</td>
                        <td>{{ player.WK3Pts }}</td>
                        <td>{{ player.WK4Pts }}</td>
                        <td>{{ player.WK5Pts }}</td>
                        <td>{{ player.WK6Pts }}</td>
                        <td>{{ player.total_points }}</td>
                        <td>{{ player.std_dev }}</td>
                        <td>{{ player.grade }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}