{% extends "base.html" %}

{% block title %}Trade Builder - Yahoo Fantasy Football MVP{% endblock %}

{% block content %}
<div class="container">
    <h1>Trade Builder</h1>
    <form method="POST" id="tradeForm">
        <label for="team1">Select team 1:</label>
        <select name="team1" id="team1">
            {% for team in teams %}
                <option value="{{ team }}" {% if team == request.form.team1 %}selected{% endif %}>{{ team }}</option>
            {% endfor %}
        </select>

        <label for="team2">Select team 2:</label>
        <select name="team2" id="team2">
            {% for team in teams %}
                <option value="{{ team }}" {% if team == request.form.team2 %}selected{% endif %}>{{ team }}</option>
            {% endfor %}
        </select>

        <button type="submit">Get Rosters</button>
    </form>

    {% if team1_roster and team2_roster %}
        <h2>{{ request.form.team1 }} Roster</h2>
        <form method="POST" id="tradeFormDetails" onsubmit="return confirmTrade()">
            <input type="hidden" name="team1" value="{{ request.form.team1 }}">
            <input type="hidden" name="team2" value="{{ request.form.team2 }}">

            <label for="your_players">Select players to trade:</label>
            <div id="your_players_container">
                <div class="player-select">
                    <div class="player-info-container">
                        <select name="your_players" class="your_players" onchange="showInfoIcon(this)">
                            {% for player in team1_roster %}
                                <option value="{{ player[0] }}">{{ player.Player }} ({{ player.Pos }} - {{ player.team_abb }})</option>
                            <a href="#" class="info-icon" 
                            data-player-name="{{ player.Player }}" 
                            data-player-pos="{{ player.Pos }}"
                            data-player-headshot="{{ player.img }}" 
                            data-player-bye="{{ player.bye }}" 
                            data-player-ranking="{{ player.previous_performance }}" 
                            data-player-status="{{ player.status }}" 
                            data-player-injury="{{ player.injury }}" 
                            data-player-team="{{ player.team_abb }}"
                            style="margin-left: 5px;">
                                <i class="fas fa-info-circle"></i> <!-- Font Awesome info icon -->
                            </a>
                        
                        {% endfor %}
                    </select>
        
                        <a href="#" class="info-icon" data-player-name="" style="margin-left: 5px; display: none;">
                            <i class="fas fa-info-circle"></i>
                        </a>
                    </div>
                    <button type="button" class="removePlayerButton" onclick="removePlayer(this)">Remove Player</button>
                </div>
            </div>
            
            <button type="button" id="addYourPlayerButton">Add Another Player</button>

            <h2>{{ request.form.team2 }} Roster</h2>
            <label for="target_players">Select players to receive:</label>
            <div id="target_players_container">
                <div class="player-select">
                    <div class="player-info-container">
                        <select name="target_players" class="target_players" onchange="showInfoIcon(this)">
                            {% for player in team2_roster %}
                            <option value="{{ player[0] }}">{{ player.Player }} ({{ player.Pos }} - {{ player.team_abb }})</option>
                            <a href="#" class="info-icon" 
                            data-player-name="{{ player.Player }}" 
                            data-player-pos="{{ player.Pos }}"
                            data-player-headshot="{{ player.img }}" 
                            data-player-bye="{{ player.bye }}" 
                            data-player-ranking="{{ player.previous_performance }}" 
                            data-player-status="{{ player.status }}" 
                            data-player-injury="{{ player.injury }}" 
                            data-player-team="{{ player.team_abb }}"
                            style="margin-left: 5px;">
                                <i class="fas fa-info-circle"></i> <!-- Font Awesome info icon -->
                            </a>
                        
                        {% endfor %}
                    </select>
                        </div>
                    <button type="button" class="removePlayerButton" onclick="removePlayer(this)">Remove Player</button>
                </div>
            </div>
            <button type="button" id="addTargetPlayerButton">Add Another Player</button>

            <button type="submit" onclick="return confirmTrade()">Propose Trade</button>
        </form>

        <div id="section3">
            <h2>Proposed Trade</h2>
            <div id="tradeDetails" class="trade-summary-card"></div>
            <button type="button" onclick="return copyTrade()">Copy Trade Details</button>
            <button type="button" onclick="return restartTrade()">Restart Trade Builder</button>
        </div>

        {% if trade_feedback %}
            <h2>Proposed Trade</h2>
            <p>Your Trade: {{ trade_feedback }}</p>
        {% endif %}
    {% endif %}

</div>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<script>
    $(document).ready(function() {
        // Delegate click events for dynamically added info icons
        $('.info-icon').on('click', function(event) {
            event.preventDefault();  // Prevent default link behavior

            // Populate the dashboard with player name and placeholder data
            const playerName = $(this).data('player-name');
            const playerPos = $(this).data('player-pos');
            const playerHeadshot = $(this).data('player-headshot');
            const playerTeam = $(this).data('player-team');
            const playerBye = $(this).data('player-bye');
            const playerRanking = $(this).data('player-ranking');
            const playerStatus = $(this).data('player-status');
            const playerInjury = $(this).data('player-injury');

            // Populate the dashboard with player data
            document.getElementById("dashboardPlayerName").innerText = playerName;
            document.getElementById("dashboardPlayerPosition").innerText = playerPos;
            document.getElementById("playerHeadshot").src = playerHeadshot;
            document.getElementById("playerTeam").innerText = playerTeam;
            document.getElementById("byeWeek").innerText = playerBye;
            document.getElementById("playerRanking").innerText = playerRanking;
            document.getElementById("injury").innerText = playerStatus + ": " + playerInjury;

            // Display the modal
            $('#playerDashboard').show();
        });

        // Add player selection dropdowns dynamically for Team 1
        $('#addYourPlayerButton').on('click', function() {
            $('#your_players_container').append(`
                <div class="player-select">
                    <div class="player-info-container">
                        <select name="your_players" class="your_players" onchange="showInfoIcon(this)">
                            {% for player in team1_roster %}
                                <option value="{{ player[0] }}">{{ player[0] }} ({{ player[1] }} - Rank: {{ player[2] }})</option>
                            {% endfor %}
                        </select>
                        <a href="#" class="info-icon" data-player-name="" style="margin-left: 5px; display: none;">
                            <i class="fas fa-info-circle"></i>
                        </a>
                    </div>
                    <button type="button" class="removePlayerButton" onclick="removePlayer(this)">Remove Player</button>
                </div>
            `);
        });

        // Add player selection dropdowns dynamically for Team 2
        $('#addTargetPlayerButton').on('click', function() {
            $('#target_players_container').append(`
                <div class="player-select">
                    <div class="player-info-container">
                        <select name="target_players" class="target_players" onchange="showInfoIcon(this)">
                            {% for player in team2_roster %}
                                <option value="{{ player[0] }}">{{ player[0] }} ({{ player[1] }} - Rank: {{ player[2] }})</option>
                            {% endfor %}
                        </select>
                        <a href="#" class="info-icon" data-player-name="" style="margin-left: 5px; display: none;">
                            <i class="fas fa-info-circle"></i>
                        </a>
                    </div>
                    <button type="button" class="removePlayerButton" onclick="removePlayer(this)">Remove Player</button>
                </div>
            `);
        });

        // Close the dashboard when the close icon is clicked
        $('#closeDashboard').on('click', function() {
            $('#playerDashboard').hide();
        });

        $(window).on('click', function(event) {
            if ($(event.target).is('#playerDashboard')) {
                $('#playerDashboard').hide();
            }
        });
    });

    function showInfoIcon(selectElement) {
        const playerName = selectElement.value;
        const infoIcon = $(selectElement).siblings('.info-icon');
        infoIcon.attr("data-player-name", playerName).show();
    }

    function removePlayer(button) {
        $(button).closest('.player-select').remove();
    }

    function confirmTrade() {
        event.preventDefault();
        var yourPlayers = [];
        var targetPlayers = [];

        $('select[name="your_players"]').each(function() {
            yourPlayers.push($(this).val());
        });

        $('select[name="target_players"]').each(function() {
            targetPlayers.push($(this).val());
        });

        var team1Name = $('input[name="team1"]').val();
        var team2Name = $('input[name="team2"]').val();

        var message = `
        <div class="team-section">
            <h4>${team1Name} trades:</h4>
            <ul class="player-list">
                ${yourPlayers.map(player => `<li>${player}</li>`).join('')}
            </ul>
        </div>
        <div class="team-section">
            <h4>${team2Name} trades:</h4>
            <ul class="player-list">
                ${targetPlayers.map(player => `<li>${player}</li>`).join('')}
            </ul>
        </div>
    `;

        $('#tradeDetails').html(message);
        return true;
    }

    function copyTrade() {
        const tradeDetails = document.getElementById("tradeDetails");
        if (!tradeDetails || tradeDetails.innerHTML.trim() === "") {
            alert("There are no trade details to copy.");
            return;
        }

        const tempTextArea = document.createElement("textarea");
        tempTextArea.value = tradeDetails.innerText;
        document.body.appendChild(tempTextArea);
        tempTextArea.select();
        document.execCommand("copy");
        document.body.removeChild(tempTextArea);
        alert("Trade details copied to clipboard!");
    }

    function restartTrade() {
        document.getElementById("tradeDetails").innerHTML = "";
    }
</script>

{% endblock %}
